@import 'tailwindcss';

body {
  width: 1280px;
  margin: 0 auto;
}

/* Navbar */

.logo {
  @apply h-[100px] text-[56px];
  @apply bg-gradient-to-r from-red-500 to-orange-500 bg-clip-text text-transparent;
}

.link:hover {
  @apply bg-gradient-to-r from-red-500 to-orange-500 bg-clip-text text-transparent;
  @apply transition duration-250;
}

.link1 {
  @apply p-2;
}

.link1:hover {
  @apply bg-gradient-to-r from-red-500 to-orange-500 bg-clip-text text-transparent;
  @apply transition duration-250;
}

.icon-link:hover {
  @apply rounded-full bg-gradient-to-r from-red-500 to-orange-500;
  @apply text-white;
  @apply transition duration-250;
}

.sign-active {
  @apply rounded-full bg-gradient-to-r from-red-500 to-orange-500;
  @apply text-white;
  @apply transition duration-250;
}
.sign-active:hover {
  @apply rounded-full bg-gradient-to-r from-red-500 to-black;
  @apply text-white;
  @apply transition duration-250;
}
.sign:hover {
  @apply rounded-full bg-gradient-to-r from-red-500 to-orange-500;
  @apply text-white;
  @apply transition duration-250;
}

.search-bar {
  @apply flex items-center justify-between gap-2;
  @apply w-[800px] rounded-3xl p-[12px];
  @apply border;
}

.search-bar input[type='text'] {
  @apply w-full outline-none;
}

.search-bar button {
  @apply rounded-full bg-amber-400 p-1 text-white;
}

.search-bar button:hover {
  @apply rounded-full bg-black p-1 text-amber-400;
}

.icon-link,
.link,
.logo,
.sign,
.sign-active,
.search-bar,
input[type='text'],
button {
  cursor: pointer;
}

.link,
.link1,
.sign,
.sign-active {
  @apply font-medium;
}

/* Bottoni */
.dashed-effect-button {
  @apply relative cursor-pointer rounded-xl border-none bg-white px-5 py-1 text-black transition-all duration-300 ease-in-out w-[200px];
}

.dashed-effect-button::before {
  @apply pointer-events-none absolute inset-0 rounded-xl border border-black transition-colors duration-300 ease-in-out content-[''];
}

.dash-top-left,
.dash-bottom-right {
  @apply absolute z-10 h-[1px] w-[25px] bg-white transition-colors duration-300 ease-in-out;
}

.dash-top-left {
  @apply top-0 left-4;
}

.dash-bottom-right {
  @apply right-4 bottom-0;
}

.dashed-effect-button:hover {
  @apply rounded-xl bg-black text-white;
}

.dashed-effect-button:hover::before {
  @apply border-transparent;
}

.dashed-effect-button:hover .dash-top-left,
.dashed-effect-button:hover .dash-bottom-right {
  @apply bg-transparent;
}
